
#home{
clip-path: url(#cache);
}

.bodyW{
  background-color: #3acbcb;
}
.bodyMain{
  /*background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);*/
  background: linear-gradient(-45deg, #303030, rgba(41, 41, 41, 0.96), #242424, rgb(0, 0, 0));
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}
body {
  padding-top: 56px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@font-face{
  font-family: "yellowTail";
  src: url("font/Yellowtail/Yellowtail-Regular.ttf");
}

.corsivo{
  font-family: "yellowTail",Helvetica,Serif;
  font-weight:normal;
  font-style:normal;
}

.centered{
  margin-left: 50%;
  margin-right: 50%;
}

.centered:hover{
  cursor: pointer;
}

.card{
  border-radius: 8%;
  background-color: rgba(58,203,203,0);
  border: 1px solid #3acbcb;
  color: white;
}

.btn{
  width: 310px;
  height: 40px;
  font-size: 16pt;
}

.spinner{
  position: fixed;
  left: 50%;
  top: 46%;
}

.underline:hover{
  color: #3acbcb;
  text-decoration: underline;
}

